/SD/nbproject/private/
/EX_UDP/build/
/EX_UDP/nbproject/private/
/EX_TCP/nbproject/private/
/EX_TCP/build/
/EX_Multicast/nbproject/private/
/EX_Multicast/build/
/EX_ReprDados/nbproject/private/
/EX_ReprDados/build/
/EX_TCP/dist/